*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 360px;

} 

.inner {
    max-width: 360px;
    padding: 18px;
    border-radius: 18px;
    background-color: white;
 
}

.inner img{
    width: 100%;
    border-radius: 10px;
}

.inner h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 27px;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
  
}

.inner p {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    line-height: 1.3;
    color: hsl(220, 15%, 55%);
    padding: 8px 20px;
}

 